[submodule "EngineX/vendor/spdlog"]
	path = EngineX/vendor/spdlog
	url = https://github.com/gabime/spdlog/
[submodule "EngineX/vendor/GLFW"]
	path = EngineX/vendor/GLFW
	url = https://github.com/Greboh/GLFW
